.widgets {
	display: flex;
	align-items: stretch;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

.widget {
	background: var(--tc-background);
	border: 1px solid var(--tc-border);
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: 10rem;
	min-width: 10rem;
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0;
}

.widget > * {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.widget h3:has(i) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.widget h3 i {
	font-size: 1em;
	line-height: 1;
	color: var(--tc-text);
}

.widget p {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.widget p time,
.widget h3 time,
.widget h3 data {
	font-size: inherit;
	line-height: inherit;
}

.widget .widget-cta,
.widget .widget-footer {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 0;
}

.widget .widget-cta a {
	display: block;
}

.widget .widget-cta button {
	width: 100%;
	margin: 0;
}
